* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  background-color: aqua;
}
div {
  display: block;
}
label.logo {
  color: black;
  padding: 0 10px;
  font-size: 24px;
  line-height: 60px;
  font-weight: bold;
}
.folio {
  color: red;
}
nav ul {
  float: right;
  margin-right: 100px;
  text-align: center;
  font-size: 25px;
}
nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
}
nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 14px;
}
nav a:hover {
  color: darkorange;
  transition: 0.3s;
}
.home-section {
  display: flex;
  font-size: medium;
}
.texts {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin: 100px 100px 0px 0px;
}
.home-section p:first-child {
  font-size: 30px;
  font-style: italic;
}
.home-section p:nth-child(2) {
  font-size: 70px;
  font-weight: 500;
  font-style: oblique;
}
.home-section p:nth-child(3) {
  font-size: 40px;
}
.head-image {
  width: 50%;
  position: relative;
}
.rep-pic {
  position: absolute;
  top: o;
  left: 50%;
  transform: translate(-50% -50%);
  height: 400px;
}
.About-me {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.About-me .text {
  width: 550px;
}
.About-me #image {
  margin: 150px 20px 0px 0px;
}
.About-me .text h2 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 400;
}
.About-me .text h5 {
  font-size: 16px;
  font-style: oblique;
  font-weight: 700;
}
.About-me .text p {
  font-size: 18px;
}
.About-me .text li {
  font-size: 14px;
}
.heading {
  text-align: center;
  text-transform: uppercase;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project1 {
  flex: 1;
  width: 200px;
  height: 250px;
  border-style: groove;
  border-radius: 5px;
  margin: 20px;
}
.project2 {
  flex: 1;
  width: 200px;
  height: 250px;
  border-style: groove;
  border-radius: 5px;
  margin: 20px;
}
